#exclude builds results
bin
pack

#exclude external dependencies
lib/ajcommons*.jar
lib/*.jar

#exlude secrets
packager/*.jks
packager/*.key
security.properties
.secrets
secrets

#exclude version source file
src/org/concoursjeunes/AppInfos.java

#exclude big files
packager/windows/openjdk-*