<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="AJDeveloppement.ArcCompetition.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<startup/>
 <applicationSettings>
  <AJDeveloppement.ArcCompetition.Properties.Settings>
   <setting name="ClassPath" serializeAs="String">
    <value>lib/ajcommons.jar</value>
   </setting>
   <setting name="MainClass" serializeAs="String">
    <value>org.ajdeveloppement.updater.tools.AjUpdaterApply</value>
   </setting>
   <setting name="VMArgs" serializeAs="String">
    <value />
   </setting>
   <setting name="AfterUpdateCommand" serializeAs="String">
    <value>arccompetition-startup.exe</value>
   </setting>
  </AJDeveloppement.ArcCompetition.Properties.Settings>
 </applicationSettings>
</configuration>
