@viewport {
    width: device-width;
    zoom: 1;
    max-zoom: 1;
}

main {
	margin-left:	40px;
	font-size: 80%;
	
	padding: 10px;
}

@media screen and (max-width: 400px) {
	.mainMenu {
		display: inherit;
	}
	.mainMenu > li {
		display: block;
	}
	
}

#home > nav {
	position:		absolute;
	top:			0px;
	left:			-40px;
	width:			40px;
	bottom:			0px;
	
	padding-top:	30px;

	background-color: rgb(51, 51, 51);
	
	z-index: 1;
}

#home > nav .masquable {
	display: none;
}

/*#home > nav:hover {
	width:220px;
	
	
	/*transition:0.2s width,1s opacity;*/
}*/

#home > nav:hover .masquable {
	display: inline;
}

#homeNav img {
	width: 36px;
}

#pagetitle {
	font-size: 70%;
	padding-bottom:	15px;
}

#filarianne {
	z-index: -2;
	margin-left:	45px;
}