main {
	margin-left:	0px;
	font-size: 80%;
	
	padding: 10px;
}

@media screen and (max-width: 400px) {
	.mainMenu {
		display: inherit;
	}
	.mainMenu > li {
		display: block;
	}
}

#home > nav {
	display: none;
}

#filarianne {
	margin-left:	5px;
}

/*#home > nav > a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: white;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	padding-left: 0.5em;
}

#home > nav > a:hover {
	background-color:white;
	color: black;
}

#home > nav > a#homeNav {
	background-color: white;
	color: black;
	text-align:		center;
	font-size: 0.8em;

	padding-top: 15px;
	padding-left: 0em;
}

#home > nav > a.selected {
	/*
	background-color:white;
	color: black;*/
	/*font-size: 1.2em;
}*/