.search-operations {
	float: left;
}

.search-operations > section {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	
	/*background-color: #00d2a7;*/
	
	vertical-align: top;
	
	margin: 0px 10px 10px;
	padding: 5px;
}

.search-operations > section > header {
	font-size: x-large;
	padding-bottom: 10px;
}

.search-operations input, .search-operations select {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	
	width: 100%;
}

.search-results {
	overflow: auto;
	height: 80vh;
	
	margin: 10px;
}

.action-button {
	width: 16px;
	margin: 0px 3px;
}

/*#entitiesResultsTable {
	width: calc(100% - 15px);
	height: 100vh;
	
	border-collapse: collapse;
}

#entitiesResultsTable tr:hover {
	color: white;
	background-color: black;
	
	cursor: default;
}*/
.search-results-table {
	border: 0;
}