body {
	 -webkit-app-region:drag;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.login-box, .register-box {
	padding-top: 5%;
	margin-top: 0;
	margin-bottom: auto;
}

.full-height-container {
	min-height: calc(100vh - 220px);
}

.navbar-titre {
	font-size: 17px;
	line-height: 50px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
}

.navbar-custom-menu-left {
	float: left !important;
}

.logo-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
	text-align: center;

	background-color: white;
}

.logo-panel > .image > img {
	width: 100%;
	max-width: 140px;
}

.formulaire > h4 {
	font-size: 24px;
	padding: 20px 70px;
}

.button-align {
	margin: 8px auto;
	display: inline-block;
}

.table-valign-middle > tbody > tr > td {
	vertical-align: middle;
}

.cgu-box {
	width: 760px;
	margin: 0 auto;
}

.cgu-logo {
	font-size: 35px;
	text-align: center;
	margin-bottom: 25px;
	font-weight: 300;
}

.cgu-logo a {
	color: #444;
}

.cgu-box-body {
	background: #fff;
	padding: 20px;
	border-top: 0;
	color: #666;
}

.cgu-box-title {
	margin: 0;
	text-align: center;
	padding: 0 20px 20px 20px;
}