body {
	 -webkit-app-region:drag;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.navbar-titre {
	font-size: 17px;
	line-height: 50px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
}

.navbar-custom-menu-left {
	float: left !important;
}

.logo-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
	text-align: center;

	background-color: white;
}

.logo-panel > .image > img {
	width: 100%;
	max-width: 140px;
}

.formulaire > h4 {
	font-size: 24px;
	padding: 20px 70px;
}

.button-align {
	margin: 8px auto;
	display: inline-block;
}

.table-valign-middle > tbody > tr > td {
	vertical-align: middle;
}