<h1>Recherche / Sélection d'une entités</h1>

<div id="entitiesOperations">
<section id="entitiesSearch">
<header>Rechercher</header>
<input type="search" id="entitiesSearchInput" ng-model="entitiesSearchPattern" ng-change="searchChange()"/>
</section>

<section id="entitiesFilter">
<header>Filtres</header>
Fédérations:<br />
<select id="entitiesFilterFederation">
<option>FFTA</option>
</select>
</section>
</div>

<div id="entitiesResults">
<span id="entitiesAction">
<a href="#"><img src="images/add.png" /> Ajouter</a>
</span>
<table id="entitiesResultsTable" class="display" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-column-defs="dtColumnDefs">
	<thead>
	<tr>
		<th>Nom</th>
		<th>Ville</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
	</tbody>
</table>
</div>
<div id="entitiesValidation" class="validationPanel">
	<a href="#" id="entitiesSelect" class="buttonScreenValid">Selectionner</a>
	<a href="#" id="entitiesCancel" class="buttonScreenCancel">Annuler</a>
</div>